.header {
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        height: 50px
    }

    &__buttons {
        display: flex;
        align-items: center;
        margin-right: 1em;

        &__social {
            margin-right: 12px;

            a {
                padding: 0 5px;
            }
        }

        &__personagens {
            width: 24px;
            margin: 0 32px;
        }
        &__menu {
            font-size: 2em;
            color: #fff;
            padding: 7px 16px;
        }
    }
}