@use 'variaveis';

.header {
    z-index: 999;
    top: 0;
    left: 0;
    position: sticky;
    height: 50px;
    background-color: variaveis.$corDeFundoHeader;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        height: 50px
    }

    &__buttons {
        display: flex;
        align-items: center;
        margin-right: 1em;

        i {            
            color: variaveis.$corPrimaria;
            transition: color .5s ease;

            &:hover {                
                color: variaveis.$corSecundaria;
                
            }
        }

        

        &__social {
            a {
                padding: 0 5px;
            }
        }

        &__persona {
            margin: 0 40px;
            font-size: 1.5em;
            
        }
        &__menu {
            padding: 7px 16px;
            font-size: 2em;
        }
    }
}