@use 'variaveis';

.hero {
    height: calc(100vh - 50px);
    background-image: url('https://images6.alphacoders.com/117/1174530.jpg');
    background-size: cover;

    @media (min-width: 376px) and (max-width: 768px){
        height: 49vh;
    }

    @media (max-width: 375px){
        height: 25vh;
    }

    
}