.persona {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 0;
        overflow-x: hidden;

        &__frames {
            height: 303.8px;
            position: relative;
            opacity: .7;
            transition: opacity .75s ease;

            &:hover {
                opacity: 1;
            }

            &__image {
                width: 100%;
                position: absolute;
            }

            &__nome {
                display: flex;
                align-items: center;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 12px;
                padding: 8px 0px;

                &__data {                
                    p {
                        text-transform: uppercase;
                        margin-bottom: 0;
                        &:first-child {
                            font-weight: bold;
                        }
                    }
                }

                img {
                    height: 34px;
                    margin-right: 12px;
                }

                
            }
            
        }
    
    
}