@use 'variaveis';
@use 'header';
@use 'hero';
@use 'persona';
@use 'houses';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}



body {
    background-color: #0f0f0f;//eliminar depois de pronto!
}

@mixin text($fontSize: 1em){
    font-size: $fontSize;
    color: variaveis.$corTexto;
    text-transform: uppercase
}

.text {
    @include text;
}

.text--small {
    @include text(.95em);
}

.text--big {
    @include text(1.75em);
}

.text--tiny {
    @include text(.75em)
}

