@use 'variaveis';
@use 'header';
@use 'hero';
@use 'persona';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}



body {
    background-color: #fff;//eliminar depois de pronto!
}

@mixin text($fontSize: 1em){
    font-size: $fontSize;
    color: variaveis.$corTexto;
}

.text {
    @include text;
}

.text--small {
    @include text(.85em);
}

.text--big {
    @include text(min(1.5em,2.25vmin));
}

.text--tiny {
    @include text(.65em)
}

